<!DOCTYPE html>
<html lang="en">
<head>
    <!--test-->
    <meta charset="UTF-8">
    <title>Data Damoa</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/colorChip.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js" integrity="sha512-FHa4dxvEkSR0LOFH/iFH0iSqlYHf/iTwLc5Ws/1Su1W90X0qnxFxciJimoue/zyOA/+Qz/XQmmKqjbubAAzpkA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" />
    <style>
        .cash_board_parent {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        .cash_board {
            width: 100%;
        }
        .labeled {
            display: inline-block;
            width: 100%;
        }
        .label_content {
            border: 3px solid var(--main);
            padding: 100px 220px;
        }
        .label_title {
            font-weight: bold;
            padding: 10px 50px;
            background-color: var(--main);
            display: inline-block;
            color: white;
        }
        .cash_board h2 {
            text-align: center;
        }
        .btn-block {
            display: block;
            width: 100%;
            background-color: var(--main);
            border-color: var(--main);
        }
        .cash_board input, .cash_board button {
            margin: 16px 0px;
        }
        .cash_title {
            display: inline-block;

        }
        .cash_value {
            display: inline-block;
            float: right;
        }
        .cash {
            margin-top: 10px;
            font-weight: bold;
            font-size: 22px;
            display: inline-block;
            width: 100%;
        }
        .font-little {
            font-size: 16px;
        }

        value {
            color: var(--main);
        }
        .cash:nth-child(1), .cash:nth-child(4) {
            border-bottom: 1px solid black;
        }
        .cash_last {
            padding-top: 40px;
        }

        form {
            margin-top: 50px;
        }

        @media (max-width: 1000px) {
            .label_content {
                padding: 50px 110px;
            }
        }

        @media (max-width: 600px) {
            .label_content {
                padding: 10px 30px;
            }
        }

    </style>
</head>
<body>
<div id="fixed_cash">
    <i class="fas fa-donate"></i>
</div>
<nav id="menubar">
    <div class="content_box">
        <div class="menu_table">
            <div class="menu_cell">
                로고
            </div>
            <div class="menu_cell">
                <div class="search_box">
                    <div class="search_table">
                        <div class="search_cell">
                            <div class="textcell">
                                <input id="search-text" onkeydown="EnterCheck(event);" type="text" placeholder="검색어를 입력하세요.">
                            </div>
                        </div>
                        <div class="search_cell search-btn">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_cell">
                <ul>
                    <li><a href="/logout"><b>logout</b></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<main id="main">
    <div class="content_box">
        <div class="cash_board_parent">
            <div class="cash_board">
                <div class="labeled">
                    <div class="label_title">캐시보드</div>
                    <div class="label_content">
                        <div class="cash">
                            <div class="cash_title">전체 잔액</div>
                            <div class="cash_value"><value><%if(locals.total) {%> <%=total%> <%}%></value> 원</div>
                        </div>
                        <div class="cash font-little">
                            <div class="cash_title">출금 대기</div>
                            <div class="cash_value"><value><%if(locals.withdraw) {%> <%=withdraw%> <%}%></value> 원</div>
                        </div>
                        <div class="cash font-little">
                            <div class="cash_title">거래 대기</div>
                            <div class="cash_value"><value><%if(locals.worked) {%> <%=worked%> <%}%></value> 원</div>
                        </div>
                        <div class="cash cash_last">
                            <div class="cash_title">사용 가능</div>
                            <div class="cash_value"><value><%if(locals.available) {%> <%=available%> <%}%></value> 원</div>
                        </div>
                        <form>
                            <input type="number" class="form-control input-lg application_cash" placeholder="입출금 예정 금액">
                            <button type="button" class="btn btn-lg btn-primary btn-block btn-deposit">입금 신청</button>
                            <button type="button" class="btn btn-lg btn-primary btn-block btn-withdraw">출금 신청</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $('.btn-deposit').on('click', function () {
        var reqDeposit = (document.getElementsByClassName('application_cash')[0].value);
        if(reqDeposit == ""){
            alert("입금 하실 금액을 입력해주세요.");
            return;
        }
        xhr = new XMLHttpRequest();
        xhr.open("post", "cash_board", true);
        xhr.onreadystatechange = function(){ //서버에 요청해서 값 받아옴
            if(xhr.readyState == 4){
                if (xhr.status == 200){
                    var res = (xhr.responseText);
                    if(res == "success") {
                        alert('입금 신청이 성공적으로 완료되었습니다.');
                     }
                    else {
                        alert('입금 신청에 실패하였습니다.')
                    }
                }else{
                    alert("요청오류 : " + xhr.status);
                }
            }
        }
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("mode=deposit" + "&param=" + reqDeposit);
    });
    $('.btn-withdraw').on('click', function () {
        var reqWithdraw = (document.getElementsByClassName('application_cash')[0].value);
        if(reqWithdraw == ""){
            alert("출금 하실 금액을 입력해주세요.");
            return;
        }
        xhr = new XMLHttpRequest();
        xhr.open("post", "cash_board", true);
        xhr.onreadystatechange = function(){ //서버에 요청해서 값 받아옴
            if(xhr.readyState == 4){
                if (xhr.status == 200){
                    var res = xhr.responseText;
                    if(res == "success") {
                        alert('출금 신청이 성공적으로 완료되었습니다.');
                        location.reload();
                    }
                    else {
                        alert('출금 신청에 실패하였습니다. ' + res)
                    }
                }else{
                    alert("요청오류 : " + xhr.status);
                }
            }
        }
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("mode=withdraw" + "&param=" + reqWithdraw);
    });
    function EnterCheck(event) {
        if(event.keyCode == 13) {
            Search();
        }
    }
    function Search() {
        var stext = $('#search-text').val();
        console.log('stext : ' + stext);
        document.location.href =  '/search?search='+stext;
    }
    $('.search-btn').on('click', function() {
        Search();
    });
</script>
<scipt src="script/cash.js"></scipt>
</body>
</html>
