<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Damoa</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/colorChip.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js" integrity="sha512-FHa4dxvEkSR0LOFH/iFH0iSqlYHf/iTwLc5Ws/1Su1W90X0qnxFxciJimoue/zyOA/+Qz/XQmmKqjbubAAzpkA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" />
    <style>
        .work_table {
            border: 1px solid var(--main);
            border-bottom: 0px;
        }
        .work_cell {
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--main);
            padding: 10px;
            justify-content: space-around;
        }

        .work_title {
            width: 150px;
            text-align: center;
            text-overflow: ellipsis;
        }

        .table_header_pic {
            width: 80px;
        }
        .work_price {
            width: 70px;
            text-align: center;
        }

        .work_cell img {
            width: 80px;
            height: 80px;
        }

        .work_admit {
            float: right;
        }

        #main .content_box {
            padding: 50px 100px;
            overflow: scroll;
        }
    </style>
</head>
<body>
<div id="fixed_cash">
    <i class="fas fa-donate"></i>
</div>
<nav id="menubar">
    <div class="content_box">
        <div class="menu_table">
            <div class="menu_cell">
                <div class="logo">
                    <b> Damoa </b>
                </div>
            </div>
            <div class="menu_cell">
                <div class="search_box">
                    <div class="search_table">
                        <div class="search_cell">
                            <div class="textcell">
                                <input type="text" placeholder="검색어를 입력하세요.">
                            </div>
                        </div>
                        <div class="search_cell">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_cell">
                <ul>
                    <li><a href="/mypage"><i class="fas fa-user"></i></a></li>
                    <li><a href="/logout"><b>logout</b></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<main id="main">
    <div class="content_box">
        <div class="work_table">
            <div class="work_cell">
                <div class="table_header_pic">사진</div>
                <div class="work_sim" style="width: 54px">유사도</div>
                <div class="work_admit">다운로드</div>
            </div>
        </div>
    </div>
</main>
<script>
    function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        var sval = "";
        params = params.split("&");
        for (var i = 0; i < params.length; i++) {
            temp = params[i].split("=");
            if ([temp[0]] == sname) { sval = temp[1]; }
        }
        return sval;
    }

    $(function(){
        // api 호출
        $.get("/my_data/download_data/" + getParam('board_idx'), function(data){
            // api 결과
            var arr = data;
            if(arr.length == 0) {
                alert('다운받을 작업이 없습니다!');
            }
            for(var i = 0; i < arr.length; i++) {
                var idx = arr[i]['idx'];
                var sim = arr[i]['similarity'];
                var file_idx = arr[i]['file_idx'];
                var htmlstr = '      <div class="work_cell">\n' +
                    '        <a href="view_work/detail/'+idx+'"><img src="/file/'+file_idx+'"></a>\n' +
                    '        <div class="work_sim">'+(sim*100).toFixed(2)+'%</div>\n' +
                    '        <div class="work_admit"><a href="/file/' + file_idx + '">이미지</a> <a href="/label/'+file_idx+'">라벨</a></div>\n' +
                    '      </div>';
                $('.work_table').append(htmlstr);
            }
        });

    });
    function EnterCheck(event) {
        if(event.keyCode == 13) {
            Search();
        }
    }
    function Search() {
        var stext = $('#search-text').val();
        console.log('stext : ' + stext);
        document.location.href =  '/search?search='+stext;
    }
    $('.search-btn').on('click', function() {
        Search();
    });
</script>
<script src="/script/cash.js">

</script>
</body>
</html>