<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Capstone_27</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      width: 100%;
      height: 100%;
    }
    a {
      text-decoration: none;
      color: white;
    }
    #header {
      height: 64px;
      background-color: black;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      color: white;
    }
    #space {
      height: 64px;
    }
    #article {
      height: 3000px;
    }
    .btn {
      padding: 10px 20px;
      background-color: darkblue;
      display: inline-block;
    }

  </style>
</head>
<body>
<div id="header">
  환영합니다 <%= nickname %>
  <a href="login">
    <div class="logout btn">
      로그아웃
    </div>
  </a>
  <a href="cash_board">
    <div class ="cash btn">
      캐시보드
    </div>
  </a>
</div>
<div id="space">

</div>
<div id="article">

</div>
</body>
</html>