@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}
html, body {
    width: 100%;
    height: 100%;
    position: relative;
    color: #212529;
    font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
    font-weight: 400;
    min-height: 100%;
}
section, article, aside, footer, header,nav, hgroup {
    display: block;
}
#menubar {
    background: var(--main);
    height:70px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}
.content_box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 100px;
    height: 100%;

}
.search_box  input {
    font-size: 16px;
    padding:0px 10px;
    height: 42px;
    outline: none;
    border: 2px solid var(--hover);
    border-radius: 20px;
    width: 100%;
}
#menubar ul{
    display: inline;
    padding: 0;
}
#menubar ul li{
    display: inline;
    list-style-type: none;
    padding:0px 10px;
    font-size: 20px;
}
#menubar ul li a{
    color: white;
    text-decoration: none;
}
#menubar ul li a:hover{
    color: var(--hover);
}
.search_box i {
    color: white;
    font-size: 26px;

}
.search_box i:hover{
    color: var(--hover);
}

.menu_table {
    display: table;
    width: 100%;
    height: 70px;
    vertical-align:middle;
}
.menu_cell {
    display: table-cell;
    width: auto;
    height: 70px;
}
.menu_cell:nth-child(1) {
    width: 50px;
    vertical-align: middle;
}
.menu_cell:nth-child(2) {
    width: auto;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    padding: 0px 15px;
}
.menu_cell:nth-child(3) {
    width: 130px;
    vertical-align: middle;
}
.search_table {
    max-width: 500px;
    display: table;
    width: 100%;
}
.search_cell {
    display: table-cell;
}
.search_cell:nth-child(1) {
    vertical-align: middle;
    width: auto;
    padding-right: 10px;
}
.search_cell:nth-child(2) {
    width: 26px;
    vertical-align: middle;
}
#fixed_cash{
    position: fixed;
    bottom:10px;
    right:20px;
    font-size: 40px;
    padding: 5px;
    color: #239d60;
    z-index: 100;
}
#fixed_cash:hover{
    color: var(--main);
}
#main {
    padding-top: 70px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
@media (max-width: 700px) {
    .menu_cell:nth-child(2), .menu_cell:nth-child(3) {
        display: none;
    }
    .menu_cell {
        text-align: center;
    }
    .menu_cell:nth-child(1) {
        width: auto;
    }
    .content_box {
        padding: 0 50px;
    }

}
@media (max-width: 1000px) {
    .label_content {
        padding: 50px 110px;
    }
}

@media (max-width: 600px) {
    .label_content {
        padding: 10px 30px;
    }
}